<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">

    <v-app>
      <v-main>
        <v-container v-if="age >= 18">Bienvenue à toi jeune majeur ! Tu as {{ age }} ans.</v-container>
        <v-container v-if="age < 18">Bienvenue à toi le mineur ! Tu as {{ age }} ans.</v-container>
        <v-btn block>Block Button</v-btn>
        <v-btn @click="animation" class="mx-4 my-2" fab dark large color="cyan">
            <v-icon dark>mdi-pencil</v-icon>
        </v-btn>
      </v-main>
    </v-app>

    <v-app>
        <v-form v-model="valid">
            <v-container>
              <v-row>
                <v-col
                  cols="6"
                  md="4"
                >
                  <v-text-field
                    v-model="firstname"
                    :rules="nameRules"
                    :counter="10"
                    label="First name *"
                    required
                  ></v-text-field>
                </v-col>
        
                <v-col
                  cols="6"
                  md="4"
                >
                  <v-text-field
                    v-model="pseudo"
                    :rules="pseudoRules"
                    :counter="10"
                    label="Pseudo"
                  ></v-text-field>
                </v-col>
        
                <v-col
                  cols="6"
                  md="4"
                >
                  <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail *"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
    </v-app>

    <v-app id="inspire">
        <div class="purple darken-2 text-center">
            <span class="white--text">Lorem ipsum</span>
        </div>
    </v-app>

    <v-app>
        <div class="text-center">
          <v-menu transition="fab-transition">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                dark
                color="success"
                v-bind="attrs"
                v-on="on"
              >
                Fab Transition
              </v-btn>
            </template>
            <v-list>
              <v-list-item
                v-for="n in 5"
                :key="n"
              >
                <v-list-item-title v-text="'Item ' + n"></v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
    </v-app>

    <v-app>
        <v-alert border="top" color="red lighten-2" dark>
            I'm an alert with a top border and red color
        </v-alert>
    </v-app>
      
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        age: 12,
        valid: false,
        firstname: '',
        pseudo: '',
        pseudoRules: [
            v => !!v || 'Please add your pseudonyme',
            v => v.length <= 20 || 'Pseudo must be less than 20 characters',
        ],
        nameRules: [
            v => !!v || 'Please add your first name',
            v => v.length <= 20 || 'First name is required',
        ],
        email: '',
        emailRules: [
            v => !!v || 'E-mail is required',
            v => /.+@.+/.test(v) || 'E-mail must be valid',
        ],
      },
      methods: {
        animation(){
            this.age++
        }
      }
    })
  </script>
</body>
</html>